In [14]:
std_age1 = 20
std_age2 = 15
std_age3 = 16

In [16]:
std_age_list = [20, 15, 16]

In [18]:
print("the age of three students: ", std_age_list)

the age of three students:  [20, 15, 16]

In [24]:
type (std_age_list)

list

In [26]:
std_percentage1 = 83.23
std_percentage2 = 54.98
std_percentage3 = 90.54

In [28]:
std_percentage_list = [82.23, 54.98, 90.54]
print("the percentages of three students:", std_percentage_list)

the percentages of three students: [82.23, 54.98, 90.54]

In [30]:
std_percentage_list

[82.23, 54.98, 90.54]

In [ ]:
n = 10
n-1 = 0-9
#if the variable has 10 elements, first element is zero
##if 5 elements are present we have n = 0-4

In [32]:
#indexing
std_percentage_list[2]

90.54

In [59]:
# indexing range
std_name_list = ("urwah", "samra", "uswah", "aimal", "ashar")
std_name_list = list(std_name_list)
print("student names:", std_name_list)
std_name_list[0:3]
std_name_list[1:2:4]

student names: ['urwah', 'samra', 'uswah', 'aimal', 'ashar']

In [17]:
#reverse order
std_name_list[::-1]
#to save the reverse list
std_list_rev = std_name_list[::-1]
print("student list in reverse:", std_list_rev)

student list in reverse: ('ashar', 'aimal', 'uswah', 'samra', 'urwah')

In [61]:
##list functions
## adding a new name of a studnt to the list
std_name_list = ("urwah","samra","uswah","aimal", "ashar")
std_name_list = list(std_name_list) #convert tuple to a list
#need to use [] square brackets for lists
std_name_list.append("usama")
#to remove the object
std_name_list.remove("usama")
#using pop() function it will remove every last element in the list
std_name_list.pop()

'ashar'

In [65]:
std_name_list.remove("urwah")

In [75]:
std_name_lists = ["samra","uswah","urwah"]
std_name_lists.append("usama")
std_name_lists #needed to add a square bracket for the list functions to work

['samra', 'uswah', 'urwah', 'usama']

In [77]:
# for soorting list

std_name_list.sort()

In [79]:
std_name_list

['aimal', 'samra', 'usama', 'usama', 'uswah']

In [83]:
# for sorting in descending order

std_name_list.sort(reverse=True)

In [85]:
std_name_list

['uswah', 'usama', 'usama', 'samra', 'aimal']

In [89]:
std_per_list = [90.4,88.67,65.43,97.54,76.03]
std_per_list.sort()

In [93]:
std_per_list #ascending order output

[65.43, 76.03, 88.67, 90.4, 97.54]

In [95]:
std_per_list.sort(reverse=True)

In [97]:
std_per_list #descending order

[97.54, 90.4, 88.67, 76.03, 65.43]

In [99]:
#to save sorted list
sorted_list = std_name_list

In [101]:
print("sorted list:",sorted_list)

sorted list: ['uswah', 'usama', 'usama', 'samra', 'aimal']

In [103]:
#heterogenous list
#n=3
#n=0-2
std_info_list = ["Ashar Ilyas", 88.76, 11]
print("student info:", std_info_list)

student info: ['Ashar Ilyas', 88.76, 11]

In [111]:
print("student name:", std_info_list[0])
print("student age:", std_info_list[2])
print("student percentage:", std_info_list[1])

student name: Ashar Ilyas
student age: 11
student percentage: 88.76

In [107]:
std_info_list.append("asharilyas4@gmail.com")

In [109]:
std_info_list

['Ashar Ilyas', 88.76, 11, 'asharilyas4@gmail.com']

In [113]:
# pop()
## append()
## reverse()
## sort
# print(std_info_list.clear()

std_info_list.clear() #empties the list

In [115]:
std_info_list

[]

In [123]:
# set and tuples
## used to store multiple values

fruit_set = {"apple","banana", "apple", "mango"}
print(fruit_set)
#output doesnt shows duplicate values in set
#only unique values are allowed
#duplicate valcues are allowed in lists
fruits_set = {"appple", "banana", "Apple", "mango"}
print(fruits_set)

{'banana', 'apple', 'mango'}
{'Apple', 'banana', 'appple', 'mango'}

In [125]:
#tuple
# used to store multiple values
fruits_tuple = ("apple","mango", "banana", "apple")
print(fruits_tuple)
## tuple does print duplicate values

('apple', 'mango', 'banana', 'apple')

In [129]:
## task is to add new value in the fruits_set and fruits_tuple
#3 value sjould be grape

fruits_set.add("grape")

In [131]:
fruits_set #sets can be changed

{'Apple', 'appple', 'banana', 'grape', 'mango'}

In [135]:
# for tuple
#fruits_tuple.add("grape") #shows error
# tuple is unchangeable

In [137]:
## dictionary
# also used for collection
## it is based on key values
# starts from curly brackets
##key is name, value is urwa kashaf


std_info = {"name": "urwa kashaf", "age": 18, "percentage":77.7}
print(std_info)

{'name': 'urwa kashaf', 'age': 18, 'percentage': 77.7}

In [139]:
std_info["age"]

18

In [143]:
print(std_info["name"])

urwa kashaf

In [159]:
#3 creatw a dictionary that contains acc number, owner name, amount and acc type and date of opening

Acc_details = {"Account Title": "Urwa Kashaf", "Account Number": "PKBL2435446657", "Amount":43000, 
               "Account Type": "bank account", "Date of Opening": "12-06-2023"}
print(Acc_details)

{'Account Title': 'Urwa Kashaf', 'Account Number': 'PKBL2435446657', 'Amount': 5000, 'Account Type': 'bank account', 'Date of Opening': '12-06-2023'}

In [159]:
#3 creatw a dictionary that contains acc number, owner name, amount and acc type and date of opening

Acc_details = {"Account Title": "Urwa Kashaf", "Account Number": "PKBL2435446657", "Amount":43000, 
               "Account Type": "bank account", "Date of Opening": "12-06-2023", "Amount":5000} #adding same key again overwrites the value
print(Acc_details)

{'Account Title': 'Urwa Kashaf', 'Account Number': 'PKBL2435446657', 'Amount': 5000, 'Account Type': 'bank account', 'Date of Opening': '12-06-2023'}

In [157]:
#3 creatw a dictionary that contains acc number, owner name, amount and acc type and date of opening

Acc_details = {"Account Title": "Urwa Kashaf", "Account Number": "PKBL2435446657", "Amount":43000, 
               "Account Type": "bank account", "Date of Opening": "12-06-2023"}
print(type(Acc_details)) #adding type()) tells data type

<class 'dict'>

In [153]:
Acc_details["Account Number"]

'PKBL2435446657'

In [ ]:
## task try to explore the functions of dictionary
# w3schools
# geekforgeek

# dictionaries are changeable that means we can add,change or remive items
## duplicates are not allowed in the dictionary i.e items with the same key
# using same key will overwrite
#print(type()) tells the data type of a dict [157]