In [ ]:
## 80-100 : A1 if
## 70-79 : A elif
## 60-69 : B elif
## 50-59 : C elif
## 40-49 : D elif
## below 40 F else

## 5 subjects then calculate the percentage 
# if(percentage >= 80 and percentage <= 100):
# print("A1 grade")
# elif(percentage >= 70 and percentage <= 79)

In [9]:
maths = float(input("enter maths marks:"))
bio = float(input("enter bio marks:"))
english = float(input("enter english marks:"))

obtained = maths+bio+english
per = (obtained/300) * 100

if(per >= 80 and per <= 100):
    print("grade A1")
elif(per >= 70 and per <= 79):
    print("grade A")
elif(per >= 60 and per <= 69):
    print("grade B")

elif(per >= 50 and per <= 59):
    print("grade C")

elif(per >= 40 and per <= 49):
    print("grade D")

else:
    print("FAIL")
print("obtain marks:", obtained)
print("percentage:", per)

enter maths marks: 87
enter bio marks: 90
enter english marks: 76

grade A1
obtain marks: 253.0
percentage: 84.33333333333334

In [15]:
maths = float(input("enter maths marks:"))
bio = float(input("enter bio marks:"))
english = float(input("enter english marks:"))

obtained = maths+bio+english
per = (obtained/300) * 100


if(math < 40 or english < 40 or bio < 40):
    print("FAIL")

else:
    

print("obtain marks:", obtained)
print("percentage:", per)

enter maths marks: 87
enter bio marks: 90
enter english marks: 34

grade A
FAIL
obtain marks: 211.0
percentage: 70.33333333333334

In [1]:
maths = float(input("enter maths marks:"))
bio = float(input("enter bio marks:"))
english = float(input("enter english marks:"))

obtained = maths+bio+english
per = (obtained/300) * 100
if(maths < 40 or english < 40 or bio < 40):
    print("FAIL")


print("obtain marks:", obtained)
print("percentage:", per)

enter maths marks: 76
enter bio marks: 98
enter english marks: 79

obtain marks: 253.0
percentage: 84.33333333333334

In [9]:
maths = float(input("enter maths marks:"))
bio = float(input("enter bio marks:"))
english = float(input("enter english marks:"))

obtained = maths+bio+english
per = (obtained/300) * 100

if(per >= 80 and per <= 100):
    print("grade A1")
elif(per >= 70 and per <= 79):
    print("grade A")
elif(per >= 60 and per <= 69):
    print("grade B")

elif(per >= 50 and per <= 59):
    print("grade C")

elif(per >= 40 and per <= 49):
    print("grade D")

else:
    print("FAIL")
print("obtain marks:", obtained)
print("percentage:", per)

enter maths marks: 87
enter bio marks: 90
enter english marks: 76

grade A1
obtain marks: 253.0
percentage: 84.33333333333334

In [ ]:
## two numbers a = 5, b = 10
## a is greater than b
## b is greater than a 
## a and b are equal
## determine which number is greater or equal

In [19]:
a = int(input("enter value of a:"))
b = int(input("enter value of b:"))

if("a < b"):
    print(a, "is less than", b)
elif("a > b"):
    print(a, "is greater than", b)
else:

    print(a, "is equal to", b)

enter value of a: 55
enter value of b: 45

55 is less than 45

In [ ]:
## write a program to compare the ages of imran, wasim and waqar
## determine which one is eldest among all three

In [31]:
imran = input("enter age of imran")
wasim = input("enter age of wasim")
waqar = input("enter age of waqar")

if(imran > wasim and imran > waqar):
    print("imran is elder than wasim and waqar")
elif(wasim > imran and wasim > waqar):
    print("wasim is elder than imran and waqar")
else:
    print("waqar is elder than imran and wasim")

enter age of imran 18
enter age of wasim 23
enter age of waqar 28

waqar is elder than imran and wasim

In [ ]:
##loop or ilterations

In [33]:
for i in range(10):
    print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [35]:
for i in range(5):
    print("hello world")
    print("i am urwah")

hello world
i am urwah
hello world
i am urwah
hello world
i am urwah
hello world
i am urwah
hello world
i am urwah

In [37]:
for i in range(5):
    print(i)

0
1
2
3
4

In [39]:
#start = 2, end = 5
for i in range(2,5):
    print(i)

2
3
4

In [43]:
#want to print even numbers from 2-20
#start=2, jump=2, end= 22-1=21
for i in range(2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [55]:
#want to print odd numbers from 1-20
#start=1, jump=2, end= 21
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [3]:
for i in range(3,30,2):
    print(i)

3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [9]:
for i in range(20):
    print("HELLO ASHAR PAGAL")
    print("minecraft")

HELLO ASHAR PAGAL
minecraft
HELLO ASHAR PAGAL
minecraft
HELLO ASHAR PAGAL
minecraft
HELLO ASHAR PAGAL
minecraft
HELLO ASHAR PAGAL
minecraft
HELLO ASHAR PAGAL
minecraft
HELLO ASHAR PAGAL
minecraft
HELLO ASHAR PAGAL
minecraft
HELLO ASHAR PAGAL
minecraft
HELLO ASHAR PAGAL
minecraft
HELLO ASHAR PAGAL
minecraft
HELLO ASHAR PAGAL
minecraft
HELLO ASHAR PAGAL
minecraft
HELLO ASHAR PAGAL
minecraft
HELLO ASHAR PAGAL
minecraft
HELLO ASHAR PAGAL
minecraft
HELLO ASHAR PAGAL
minecraft
HELLO ASHAR PAGAL
minecraft
HELLO ASHAR PAGAL
minecraft
HELLO ASHAR PAGAL
minecraft