In [3]:
## nested loops
## i = 5, k = 5 , i*k
for i in range(5):
    for k in range(3):
        print(i*k, end=" ") #end = " " is used for space
    print()

0 0 0
0 1 2
0 2 4
0 3 6
0 4 8

In [7]:
i = 0
while(i<5): # nested while loop
    k=0
    while(k<5):
        print(i*k, end=" ")
        k = k+1
    print()
    i = i + 1
 # when value of inner loop is false their would be increment in outer loop
# when value of outer loop is false the whole condition will terminate

0 0 0 0 0
0 1 2 3 4
0 2 4 6 8
0 3 6 9 12
0 4 8 12 16

In [15]:
for r in range(1,6):
    for c in range(1, r+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [37]:
# task to print full triangle

for r in range(1,6):
    for c in range(1, r+1):
        print("*", end=" ")
    print()
for r in range(5,0, -1): #condition is reversed # -1 is used for reverse 
    for c in range(r,0, -1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [49]:
## task print
# 1
# 1 2 
# 1 2 3 
# 1 2 3 4 
# 1 2 3 4 5

for r in range(1,6):
    for c in range(1, r+1):
        print(c, end= " ")
    print()
for r in range(5,0,-1):
    for c in range(r, 0, -1):
        print(c, end= " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [55]:
# suum of odd numberss

start = int(input("enter start range:"))
end = int(input("enter end range:"))
sum_odd = 0

for i in range(start, end +1):
    if(i% 2 != 0):
        sum_odd = sum_odd + i
print("sum of odd numbers:", sum_odd)

enter start range: 1
enter end range: 10

sum of odd numbers: 25

In [75]:
for r in range(1,8):
    for c in range(1,r + 1):
        print(r*c, end=" ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49

In [79]:
# task 2 
# take  the user input startig and ending e.g = 1 - 5

start = int(input("enter starting range:"))
end = int(input("enter end range:"))

for r in range(start,end+1):
    for c in range(1,10):
        print(r, "x", c, "=", r*c)
    print()

enter starting range: 2
enter end range: 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90