In [1]:
 #string data type abc special @%$
print("my name is urwah")

my name is urwah

In [5]:
print("my name is urwah")
print("i am a student at ned")
print("i have two brothers")

my name is urwah
i am a student at ned
i have two brothers

In [1]:
print("the cat says \"meow\" ")
print("my name says \"urwah\" ")
print("\"cat\" is an animal")

the cat says "meow"
my name says "urwah"
"cat" is an animal

In [ ]:
# is used to comment on the code to hide from the python
# so it cannot be executed
# using ctrl * /

In [11]:
print("the cat says \\meow\\ ")
print("urwah is \\urwah\\")

the cat says \meow\
urwah is \urwah\

In [11]:
print(25) #interger data type

25

In [13]:
print(9.8) #float data type

9.8

In [3]:
# print student\ bname,
# age
# height

print("student name: Urwah")

student name: Urwah

In [7]:
print("your balance is:",3300)
print("your percentage:", 62.27)

your balance is: 3300
your percentage: 62.27

In [21]:
# print your name< your cgpa, and your height

print("my name is Urwah")
print("my cgpa is:",4.0)
print("my height is probably:",5)

my name is Urwah
my cgpa is: 4.0
my height is probably: 5

In [23]:
# data types

#string : a data that contains any alpha numeric data such as (abc) (@#$%), (12311223)
# string example : email : khattakurwah5@gmail.com
#string : URWA KASHAF, 18-12-2006

# INTEGER : 22, 10000, 50, 1, -5, -10

print(22)
print("your balance is:", 1000)

22
your balance is: 1000

In [25]:
#data type : float : 9.8, 7.8, 44.33
print(88.09)

88.09

In [29]:
# boolean : true (1), false (0)
#T and F will b capital

print(True)
print(False)

True
False

In [31]:
print(1)

1

In [33]:
print(0)

0

In [35]:
#1 and 0 means true and false in binary language or machine languagge

In [37]:
print(1.0)

1.0

In [39]:
# variables : is a container to store the data
# data such as float, int, etc

std_name = "urwah kashaf"
roll_num = 10098
age = 18
grade = "A1"
is_female = True 

print("student name:", std_name)
print("roll number:", roll_num)
print("age:", age)
print("grade:", grade)
print("female:", is_female)

student name: urwah kashaf
roll number: 10098
age: 18
grade: A1
female: True

In [43]:
#task to save three places of information
# email, acc balance, address, student, age

email = "khattakurwah5@gmail.com"
acc_bal = 43000
address = "Al-raheem apartments, nagan chowrangi"
std = "Urwa Kashaf"
age = 18

print("Name of Student:", std)
print("Age:", age)
print("Email:", email)
print("Account Balance:", acc_bal, "PKR")
print("Student Address:", address)

Name of Student: Urwa Kashaf
Age: 18
Email: khattakurwah5@gmail.com
Account Balance: 43000 PKR
Student Address: Al-raheem apartments, nagan chowrangi

In [45]:
print("age of student:", age)

age of student: 18

In [11]:
result_pr = 88.76
name_st = "urwa kashaf"
age = 18
print("Student Name:", name_st)
print("result:", result_pr)
print("age:", age)

Student Name: urwa kashaf
result: 88.76
age: 18

In [ ]:
#email acc number balance name 
# show in output